<!DOCTYPE html>
<html>
<head>
	<title>Eventica</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147461007-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147461007-1');
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description" content="we are a  best crypto event company which in working as a cryptocurrency digital marketing agency too in all over world"/>
    <meta property="og:type" content=" we are a best crypto event company which in working as a cryptocurrency digital marketing agency  "/>
 <meta itemprop="name" content="beingevent"/>
 <meta itemprop="description" content=" we are a best  crypto event company which in working as a cryptocurrency digital marketing agency "/>
 <meta property="og:url" content="http://www.beingevent.com/"/>
 <meta property="og:site_name" content="beingevent"/>
 <meta property="og:title" content="best crypto event company,cryptocurrency digital marketing ">
 <meta property="og:author" content="beingevent">
 <link rel="cannoncial" href="http://www.beingevent.com/"/>
 <meta property="og:locale" content="en_IN"/>
 <meta property="og:image" content="http://www.beingevent.com/image/logo.png"/>




	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300|Roboto&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/owl-1.css">
	<link rel="stylesheet" href="css/owl-2.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/boot.css">

<style>
	/* body{
	overflow-x: hidden;
} */
.countdown.bg-style {
text-align: center;
}

i.fa.fa-search {
    position: unset;
}

</style>
</head>

<body>
  <% include head %>
<section class="marquee">
	<div  style="width: 100%!important;">
		<div class="row" style="margin:0px!important;">
			<marquee class="marquee" direction="right" scrollamount="5">
		
		<div class="marq-in-div">Bitcoin<span>$ <%=finalbtc%></span></div>
		<div class="marq-in-div">Ethereum<span>$ <%=eth%></span></div>
		<div class="marq-in-div">XRP<span>$ <%=xrp%></span></div>
		<div class="marq-in-div">Litecoin<span>$ <%=ltc%></span></div>
		<div class="marq-in-div">Bitcoin Cash<span>$ <%=btcc%></span></div>
		<div class="marq-in-div"> EOS<span>$  <%=eos%></span></div>
		<div class="marq-in-div">Binance Coin<span>$ <%=bnb%></span></div>
		<div class="marq-in-div">Bitcoin SV<span>$  <%=btcs%></span></div>
		<div class="marq-in-div">Stellar<span>$  <%=slr%></span></div>
		<div class="marq-in-div">TRON<span>$  <%=tn%></span></div>


		
	</marquee>
		</div>
	</div>
	
</section>
<section>
	<div class="container-fluid banner-section">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner">
				<div class="baner owl-carousel owl-theme">
            <%
            if(events.length>=1)   {             
                            if(events[0]){ %>
					<div class="baner-part">
						<img  src="<%=imageurl+events[0].proimg%>" alt="banner" style= "width:100%; height:500.22px;">
						<div class="baner-back"></div>
					<div class="banner-conten">
						
						<div id="clockdiv0">
							<div class="countdown bg-style">
                        		<div class="counter-day">
                          			<span class="days">14</span>
                          			<div class="smalltext">Days</div>
                        		</div>
                        		<div class="counter-hour">
                          			<span class="hours">10</span>
                         			<div class="smalltext-1">Hours</div>
                       			</div>
                       			<div class="counter-minute">
                         			<span class="minutes">45</span>
                          			<div class="smalltext-2">Minutes</div>
                        		</div>
                        		<div class="counter-second">
                          			<span class="seconds">30</span>
                          			<div class="smalltext-3">Seconds</div>
                        		</div>
                      		</div>
                    	</div>
                    	<div class="baner-head">
                    		<h1> <%=events[0].eventName%></h1>
                    	</div>
                    	<div class="button">
                         <a href="/details/<%=events[0].id%>"><button class="buy-button">Buy Tickets</button></a>
						</div>
					</div>
          </div>
          <%}
        }%>
        <% 
        if(events.length>=2){   
          if(events[1]){ %>
					<div class="baner-part">
						<img src="<%=imageurl+events[1].proimg%>" alt="banner" style="width:100%; height:500.22px;">
					<div class="baner-back"></div>
					<div class="banner-conten">
						<div id="clockdiv1">
							<div class="countdown bg-style">
                        		<div class="counter-day">
                          			<span class="days">24</span>
                          			<div class="smalltext">Days</div>
                        		</div>
                        		<div class="counter-hour">
                          			<span class="hours">10</span>
                         			<div class="smalltext-1">Hours</div>
                       			</div>
                       			<div class="counter-minute">
                         			<span class="minutes">45</span>
                          			<div class="smalltext-2">Minutes</div>
                        		</div>
                        		<div class="counter-second">
                          			<span class="seconds">30</span>
                          			<div class="smalltext-3">Seconds</div>
                        		</div>
                      		</div>
                    	</div>
                    	<div class="baner-head">
                    		<h1><%=events[1].eventName%></h1>
                    	</div>
						<div class="button">
                <a href="/details/<%=events[1].id%>"><button class="buy-button">Buy Tickets</button></a>
						</div>
					</div>
          </div>
          <%}
        }%>
        <%
        if(events.length>=3){ 
           if(events[2]){ %>
					<div class="baner-part">
						<img src="<%=imageurl+events[2].proimg%>" alt="banner" style= "width:100%; height:500.22px;">
					<div class="baner-back"></div>
					<div class="banner-conten">
						<div id="clockdiv2">
							<div class="countdown bg-style">
								<div class="counter-day">
									  <span class="days">04</span>
									  <div class="smalltext">Days</div>
								</div>
								<div class="counter-hour">
									  <span class="hours">06</span>
									 <div class="smalltext-1">Hours</div>
								   </div>
								   <div class="counter-minute">
									 <span class="minutes">07</span>
									  <div class="smalltext-2">Minutes</div>
								</div>
								<div class="counter-second">
									  <span class="seconds">35</span>
									  <div class="smalltext-3">Seconds</div>
								</div>
							  </div>
                    	</div>
                    	<div class="baner-head">
                    		<h1><%=events[2].eventName%></h1>
                    	</div>
						<div class="button">
                <a href="/details/<%=events[2].id%>"><button class="buy-button">Buy Tickets</button></a>
						</div>
					</div>
          </div>
          <%}}%>
          <% 
          if(events.length>=4){   
            if(events[3]){ %>
					<div class="baner-part">
					<img src="<%=imageurl+events[3].proimg%>" alt="banner" style= "width:100%; height:500.22px;">
					<div class="baner-back"></div>
					<div class="banner-conten">
						<div id="clockdiv3">
							<div class="countdown bg-style">
								<div class="counter-day">
									  <span class="days">26</span>
									  <div class="smalltext">Days</div>
								</div>
								<div class="counter-hour">
									  <span class="hours">06</span>
									 <div class="smalltext-1">Hours</div>
								   </div>
								   <div class="counter-minute">
									 <span class="minutes">06</span>
									  <div class="smalltext-2">Minutes</div>
								</div>
								<div class="counter-second">
									  <span class="seconds">45</span>
									  <div class="smalltext-3">Seconds</div>
								</div>
							  </div>
                    	</div>
                    	<div class="baner-head">
                    		<h1><%=events[3].eventName%></h1>
                    	</div>
						<div class="button">
                <a href="/details/<%=events[3].id%>"><button class="buy-button">Buy Tickets</button></a>
						</div>
					</div>
					</div>
          <%}
		}%>		
		<% 
		if(events.length>=5){   
		  if(events[4]){ %>
				  <div class="baner-part">
				  <img src="<%=imageurl+events[4].proimg%>" alt="banner" style= "width:100%; height:500.22px;">
				  <div class="baner-back"></div>
				  <div class="banner-conten">
					  <div id="clockdiv4">
						<div class="countdown bg-style">
							<div class="counter-day">
								  <span class="days">01</span>
								  <div class="smalltext">Days</div>
							</div>
							<div class="counter-hour">
								  <span class="hours">09</span>
								 <div class="smalltext-1">Hours</div>
							   </div>
							   <div class="counter-minute">
								 <span class="minutes">06</span>
								  <div class="smalltext-2">Minutes</div>
							</div>
							<div class="counter-second">
								  <span class="seconds">32</span>
								  <div class="smalltext-3">Seconds</div>
							</div>
						  </div>
					  </div>
					  <div class="baner-head">
						  <h1><%=events[4].eventName%></h1>
					  </div>
					  <div class="button">
			  <a href="/details/<%=events[4].id%>"><button class="buy-button">Buy Tickets</button></a>
					  </div>
				  </div>
				  </div>
		<%}
	  }%>						
			</div>
		</div>
							
	</div>
</div>
</section>
<section class="crypto-section">
	<div class="container-fluid">
		<div class="service-heading">
				<!---<h1>HOW TO START WITH EVENTICA</h1>---->
			</div>
			<div class="ser-marg">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[0].proimg%>" alt="services" style="height: 279.783px;">
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[0].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[1].proimg%>" alt="services" style="height: 279.783px;">
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[1].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[2].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[2].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[3].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[3].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[4].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[4].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
					<img src="<%=imageurl+news[5].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[5].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
						<img src="<%=imageurl+news[6].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[6].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
						<img src="<%=imageurl+news[7].proimg%>" alt="services" style="height: 279.783px;" >

					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[7].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="crypto-box">
						<img src="<%=imageurl+news[8].proimg%>" alt="services" style="height: 279.783px;" >
					<!---<h1>Spauncer</h1>---->
					<p class="cryp-para"><%=news[8].newsTitle%></p>
					<a href="/cryptonews/1">
					<div class="service-button">
						<button class="read-button">Read More</button>
					</div></a>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<section class="about-us">
	<div class="container">
		<div class="row">
			<div class="about col-sm-12 col-xs-12">
				<h1>WHAT IS BEING EVENT & EVENTICA</h1>
				<div class="about-para">
				<p>Beingevent is best crypto event company who do coin and ico promotion event and provide cryptocurrency digital marketing services too. we do all blockchain presentations, exhibitions, summit, meetup, convention, conferences, seminars as an event company for all ICO's, altcoins, cryptocurrencies, STO's, IEO's in all over world. these events are the best platform for new cryptocurrency user to learn and meet the best personalities of blockchain industry.we also provide digital marketing services through our virtual event segments. we create a bridge between the new ico company and crypto users.</p>
<!---<p>
With that growth comes a need for technology that meets the consumers' expectations and makes event production easier, and an influx of startups, entrepreneurs and venture capitalists are working together to develop solutions for the events industry.</p>----></div>
			</div>
		</div>
	</div>
</section>
<section class="service-sec">
	<div class="container-fluid">
		<div class="row">
			<div class="ser-head">
				<h1>BEING EVENT EVENTICA SERVICE</h1>
			</div>
		</div>
		<div class="service-box">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev1.png" alt="service">
					</div>
					
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>BLOCK CHAIN CONFERENCE</h1>
						<p>Our our company beingevent host the digital currency and crypto conference in all over the world.in our bitcoin conference we try to invite all best keynote speakers from all blockchain and crypto industry so that our invitee get the all best information. </p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="chain-read">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev2.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>INVESTOR SUBMMIT</h1>
						<p>beingevent company organize time to time a blockchain summit for our angel investors in all over world.in our crypto summit we give good time to our keynote speakers to set the agenda of our investor summit then we give some time for networking season.</p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="INVESTOR-SUBMMIT">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev3.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>BLOCK CHAIN EXPO</h1>
						<p>Beingevent is a top company that is hosting a big crypto expo in all over the world. we providing a platform to all new cryptocurrency, ico's, startups, exchange, companies, businesemens, govt. bodies, web developers come to our crypto expo .</p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="EXPO-read">Read More</button>
					</div>
					</div>
				</div>
				</div>
				<div class="row pt-5">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev4.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>BLOCK CHAIN CONVENTION</h1>
						<p>beingevent is the best company for organizing bitcoin convention and crypto convention in all over the world.we are more than a traditional cryptocurrency convention. we provide inspiring speech from the best keynote speakers and also providing a healthy ... </p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="CONVENTION">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev5.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>VIRTUAL EVENT</h1>
						<p>beingevent also planning in future conducting online virtual expo on our virtual events platform.lots of people in world cant afford the expenses to come to attand blockchain events in any country. we know this issue belong to 90% people in bitcoin community.</p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="investor-read">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev6.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>Fintech startup</h1>
						<p>beingevent like to promote all new talent and new startup ideas on our platform. we organizing fintech startup events for the promotion of new startups where our investors are listening to the startup ideas and also invest there as angel investor.</p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="Fintech-read">Read More</button>
					</div>
					</div>
				</div>
				</div>
				<div class="row pt-5">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev3.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>Gala dinner & after launch party</h1>
						<p>In our event we also take care for food and entertainment for all our participants and our ico teams. we provide VIP Gala dinner and after lauch party after every event.we arrange best food, all drinks and seating arragment in our gala dinner.in our party.</p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="Gala-read">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev4.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>Hackathon events &	 pitch event</h1>
						<p>Beingevent is supporting new talents.we do Hackathon events and pitch event competition for the support of software developers and new startups. we provide angel funding also to the winner of these competitions.our hackathon event give chance to new developers to face.. </p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="pitch-read">Read More</button>
					</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="ser-img">
						<img src="images/serev2.png" alt="service">
					</div>
					<div class="box-ser"></div>
					<div class="box-ser-con">
					<div class="box-cont">
						<h1>Crypto consultancy & blockchain advisory services</h1>
						<p>beingevent team have 5 years experience in the feild of cryptocurrency. so we are providing crypto consultancy and blockchain advisory service to all new ICO and crypto coins in all around the world. </p>
					</div>
					<div class="ser-button">
						<button class="read-button" id="advisory-read">Read More</button>
					</div>
					</div>
				</div>
				</div>
			</div>
		
	</div>
</section>
<section class="serv-pop" id="chain-con">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>BLOCK CHAIN CONFRENCE</h1>
						<p>our our company beingevent host the digital currency and crypto conference in all over the world.in our bitcoin conference we try to invite all best keynote speakers from all blockchain and crypto industry so that our invitee get the all best information. we conducting these blockchain conference and crypto conference on a regular basis every month in a different-different part of world.these conferences are the best place for the all-new crypto updates and ICO launch updates.</p>
					<div class="ser-close-icon">
						<button type="button" id="chain-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="INVESTOR">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>INVESTOR SUBMMIT</h1>
						<p>beingevent company organize time to time a blockchain summit for our angel investors in all over world.in our crypto summit we give good time to our keynote speakers to set the agenda of our investor summit then we give some time for networking season where people can meet and exchange contacts from each other .these blockchain summit are good platform for our angel investors to understand the depth of progress and benefits of the project.</p>
					<div class="ser-close-icon">
						<button type="button" id="INVESTOR-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="EXPO">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>BLOCK CHAIN EXPO</h1>
						<p>beingevent is a top company that is hosting a big crypto expo in all over the world. we providing a platform to all new cryptocurrency, ico's, startups, exchange, companies, businesemens, govt. bodies, web developers come to our crypto expo and discuss all the possibilities of social and economic benefits of cryptocurrency.these blockchain expo is great opportunity for new persons to come there and meet the owners and govt. officials and listen to their views and policy on blockchain and crypto technology.</p>
					<div class="ser-close-icon">
						<button type="button" id="EXPO-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="CONVENTION-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>BLOCK CHAIN CONVENTION</h1>
						<p>beingevent is the best company for organizing bitcoin convention and crypto convention in all over the world.we are more than a traditional cryptocurrency convention. we provide inspiring speech from the best keynote speakers and also providing a healthy and relaxing environment for the networking season. our bitcoin convention is a platform for new users and learners to catch the latest updates about the industry and meet the best people at the same time the same place.</p>
					<div class="ser-close-icon">
						<button type="button" id="CONVENTION-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="investor-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>VIRTUAL EVENT</h1>
						<p>beingevent company organize time to time a blockchain summit for our angel investors in all over world.in our crypto summit we give good time to our keynote speakers to set the agenda of our investor summit then we give some time for networking season where people can meet and exchange contacts from each other .these blockchain summit are good platform for our angel investors to understand the depth of progress and benefits of the project.</p>
					<div class="ser-close-icon">
						<button type="button" id="investor-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="Fintech-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>Fintech startup</h1>
						<p>beingevent like to promote all new talent and new startup ideas on our platform. we organizing fintech startup events for the promotion of new startups where our investors are listening to the startup ideas and also invest there as angel investor.we raised already big amount in our previous fintech startup event in India. our company is a good platform for every new startup company to raise the funds. startup companies in India now working in the blockchain industry also and raising big funds from all over the world.we have special discounts and promotions for all new startups who want to associate with us for marketing promotions and fundraising. we provide special dedicated funds from our side to all unique startup ideas too.</p>
					<div class="ser-close-icon">
						<button type="button" id="Fintech-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="Gala-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>Gala dinner & after launch party</h1>
						<p>in our event we also take care for food and entertainment for all our participants and our ico teams. we provide VIP Gala dinner and after lauch party after every event.we arrange best food, all drinks and seating arragment in our gala dinner.in our party we invite our VIP guest and our big investors and industrialist in best club or bar to enjoy best dj music and drinks and refreshments.some time we do yatch party and pool party with gala dinner too near sea beaches in all around the world.</p>
					<div class="ser-close-icon">
						<button type="button" id="Gala-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="pitch-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>Hackathon events & pitch event</h1>
						<p>beingevent is supporting new talents.we do Hackathon events and pitch event competition for the support of software developers and new startups. we provide angel funding also to the winner of these competitions. our hackathon event give chance to new developers to face to real business world problems and providing coding solutions for these problems.we give an oppurtunity to new developers to work with big projects.</p>
					<div class="ser-close-icon">
						<button type="button" id="pitch-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="serv-pop" id="advisory-on">
	<div class="container">
		<div class="row">
			<div class="serivpop">
				<div class="col-md-12">
					<div class="srvi-box">
						<h1>Crypto consultancy & blockchain advisory services</h1>
						<p>beingevent team have 5 years experience in the feild of cryptocurrency. so we are providing crypto consultancy and blockchain advisory service to all new ICO and crypto coins in all around the world. we support them in registration in legal countries,supporting in fund raising,online and physical marketing,exchange registration,online and offline marketin etc. our services are provide success path to them we provide them legal and taxes also advices also as cryptocurrency and blockchain industry is very new industry and lack of legal information here.</p>
					<div class="ser-close-icon">
						<button type="button" id="advisory-close"> <i class="fa fa-close"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="follow">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 slide-banner">
				<div class="upcoming-event">
					<h1>Upcoming Event</h1>
				</div>
				<div class="baner owl-carousel owl-theme">
					<div class="baner-part" style="width: 540px; height: 198px;">
						<img src="<%=imageurl+events[0].proimg%>" alt="slider">
					</div>
					<div class="baner-part" style="width: 540px; height: 198px;">
						<img src="<%=imageurl+events[1].proimg%>" alt="slider">
					</div>
				
					
								
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 slide pb-5">
				<div class="upcoming-event">
					<h1>Being Event Highlight</h1>
				</div>
				<div class="baner owl-carousel owl-theme">
					<div class="baner-part" style="width: 540px; height: 198px;"> 
						<iframe src="https://www.youtube.com/embed/hLSpWbkBbuc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="baner-part" style="width: 540px; height: 198px;">
						<iframe  src="https://youtube.com/embed/efM2yhMQ2KE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<!-- <div class="baner-part" style="width: 540px; height: 198px;">
						<iframe  src="https://www.youtube.com/embed/JllQYyjpKh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="baner-part">
						<iframe  src="https://www.youtube.com/embed/cufv5fP-3vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div> -->
								
				</div>
			</div>
		</div>
	</div>
</section>
<section class="services-section">
	<div class="container-fluid">
		<div class="service-heading">
				<h1>HOW TO START WITH EVENTICA</h1>
			</div>	
			<div class="ser-marg">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-1.png" alt="services">
					<h1>Sponsor</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="Sponsor-read">Read More</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-2.png" alt="services">
					<h1>ICO Participant</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="ico-read">Read More</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-3.png" alt="services">
					<h1>Attendee</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="attendee-read">Read More</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-4.png" alt="services">
					<h1>Investor</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="investors-read">Read More</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-5.png" alt="services">
					<h1>Exbhitor</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="exhibitor-read">Read More</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="crypto-box">
					<img src="images/s-6.png" alt="services">
					<h1>Influencer</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<div class="service-button">
						<button class="read-button" id="influencer-read">Read More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<section class="our-cricle">
	<div class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 " style="text-align: center;">
				<div class="work-img">
					<img src="images/cirlcle.jpg" alt="work">
					
				</div>
				<!-----<div class="part-our">
				<div class="part-one">
					<img src="images/add.png" alt="add">
					<a href="#"><p>Networking</p></a>
				</div>
				<div class="part-two">
					<img src="images/support.png" alt="add">
					<a href="#"><p>Information</p></a>
				</div>
				<div class="part-three">
					<img src="images/presentation.png" alt="add">
					<a href="#"><p>Disccusion</p></a>
				</div>
				<div class="part-four">
					<img src="images/megaphone.png" alt="add">
					<a href="#"><p>Promotions<br>  & <br>  Discount</p></a>
				</div>
				<div class="part-five">
					<img src="images/global.png" alt="add">
					 <a href="#"><p>Massive<br>Community</p></a>
				</div>
				<div class="part-six">
					<img src="images/meal.png" alt="add">
					<a href="#"><p>Gala Dinner<br>&<br>Lunch Party</p></a>
				</div>
				<div class="part-seven">
					<img src="images/light-bulb.png" alt="add">
					 <a href="#"><p>Exchange<br>Ideas</p></a>
				</div>
				<div class="part-eight">
					<img src="images/businessman.png" alt="add">
					<a href="#"><p>Pitch<br>Compition</p></a>
				</div>
				</div>
				<div class="our-head">
					<h1>WHY<br>BEING<br>EVENT</h1>
				</div>---->
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
</section>
<section class="form-set" id="Sponsor-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefites of become sponsor</h1>
					<p>1. <span>Put Your Brands or Business infront of large number of audience.</span></p>
					<p>2. <span>Meet with your target audience.</span></p>
					<p>3. <span>Brand building and brand awareness. </span></p>
					<p>4. <span>business leed generation.</span></p>
					<p>5. <span>Intraction with current client and take feedback.</span></p>
					<p>6. <span>Event sponsoring is low costing then T.V commercial and print media.</span></p>
					<p>7. <span>Chance to do partnership with other business owners and ICO participants.</span></p>
					<p>8. <span>We have three sponsorship package.</span></p>
					<p><span class="no">1. </span><span> Main Sponsor</span> <span class="no"> 2. </span><span>Gold Sponsor</span><span class="no"> 3.</span><span> Silver Sponsor</span></p>
					<div class="cont-but">
						<a href="/contactus">Contact Us</a>
					</div>
					<div class="fom-icon">
						<button type="button"id="Sponsor"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form-set" id="ico-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefits for ICO Participant</h1>
					<p>1. <span>Pitch your project in front of target and relevant block chain community.</span></p>
					<p>2. <span>ICO participants is a low costing than google and facebook ad.</span></p>
					<p>3. <span>One stop solution for ICO eco system like exchange, content writing, software developers, investor etc.</span></p>
					<p>4. <span>Personal meeting with big investor and industrialist.</span></p>
					<p>5. <span>On the spot MOU signup, agreement sign up, partner sign up.</span></p>
					<p>6. <span>Interview for print media, social media, electronic media.</span></p>
					<p>7. <span>We have three types of ICO Participants package.</span></p>
					
					<p><span class="no">1. </span><span> Golden bird package</span> <span class="no"> 2. </span><span>Sexy world package</span><span class="no"> 3.</span><span> Early bird package</span></p>
					<div class="cont-but">
						<a href="/contactus">Contact Us</a>
					</div>
					<div class="fom-icon">
						<button type="button" id="ico"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form-set" id="exhibitor-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefits of exhibitor</h1>
					<p>1. <span>Exhibitor Logo, profile, contact details shown on all our media channel and event catalogue.</span></p>
					<p>2. <span>Best ROI spend 10% benefits 30%.</span></p>
					<p>3. <span>Share your promotion accessories, content etc.</span></p>
					<p>4. <span>Develop your brand.</span></p>
					<p>5. <span>Generate new sales leads.</span></p>
					<p>6. <span>Partnership with other exhibitor participants.</span></p>
					<p>7. <span>Meet directly to big investors, big leaders, and industrialist.</span></p>
					<p>8. <span>We have three Exhibitor Package.</span></p>
					<p><span class="no">1. </span><span> Hulk Exhibitor</span> <span class="no"> 2. </span><span>Ironman Exhibitor</span><span class="no"> 3.</span><span> Spiderman exhibitor</span></p>
					<div class="cont-but">
						<a href="/contactus">Contact Us</a>
					</div>
					<div class="fom-icon">
						<button type="button" id="exhibitor"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form-set" id="attendee-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefits of attendee</h1>
					<p>1. <span>Compiled and a true information.</span></p>
					<p>2. <span>Direct meeting with ICO Team, owners.</span></p>
					<p>3. <span>Special promotion and offers.</span></p>
					<p>4. <span>GALA dinner and music party.</span></p>
					<p>5. <span>Get new information about technology and crypto currency.</span></p>
					<p>6. <span>Chance to win prize competition, promotion stuffs.</span></p>
					<p>7. <span>Take a selfie with industry leaders, exchange contacts.</span></p>
					<p>8. <span>We have two types of entry ticket for attendee.</span></p>
					<p><span class="no">1. </span><span> Early bird ticket</span> <span class="no"> 2. </span><span>Regular ticket</span></p>
					<div class="cont-but">
						<a href="/events">Go To Tickets</a>
					</div>
					<div class="fom-icon">
						<button type="button" id="attendee"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form-set" id="investors-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefits for investors</h1>
					<p>1. <span>All information about all new ICO, STO, IEO.</span></p>
					<p>2. <span>Direct meeting with ICO teams, owners.</span></p>
					<p>3. <span>VIP Entry and sitting arrangement.</span></p>
					<p>4. <span>VIP GALA dinner and after launch party invitation.</span></p>
					<p>5. <span>Be an angle investor in fintech startup.</span></p>
					<p>6. <span>Can a guest stage speaker.</span></p>
					<p>7. <span>Special MOU on big investment.</span></p>
					<p>8. <span>We have two type of investor tickets.</span></p>
					<p><span class="no">1. </span><span> Wolf of the wall street</span> <span class="no"> 2. </span><span>Big whale Ticket</span></p>
					<div class="cont-but">
						<a href="/contactus">Contact Us</a>
					</div>
					<div class="fom-icon">
						<button type="button" id="investors"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form-set" id="influencer-close">
	<div class="container">
		<div class="row">
			<div class="pop">
				<div class="col-md-12">
					<div class="pop-box">
					<h1>Benefits for Influencer</h1>
					<p>1. <span>Get best information for your social media platform.</span></p>
					<p>2. <span>Best content to speak and write on your platform.</span></p>
					<p>3. <span>can join as addvisor into the new ICo.</span></p>
					<p>4. <span>VIP entry and sit Arrangement.</span></p>
					<p>5. <span>VIP GALA dinner and after launch party.</span></p>
					<p>6. <span>Give enterviwe to print media and electronic media.</span></p>
					<p>7. <span>Invitation and event entry free for Influancer.</span></p>
					<!---<p>8. <span>We have two type of investor tickets.</span></p>
					<p><span class="no">1. </span><span> Wolf of the wall street</span> <span class="no"> 2. </span><span>Big whale Ticket</span></p>---->
					<div class="cont-but">
						<a href="/contactus">Contact Us</a>
					</div>
					<div class="fom-icon">
						<button type="button" id="influencer"> <i class="fa fa-times"></i></button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id ="contact"  class="form-sec">
	<div class="container">
		<div class="CONTACT">
			<h1>CONTACT WITH US</h1>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8">
					<% if ( messages.info) { %>
						<div class="alert alert-primary no-border">
							<span class="text-semibold"><%= messages.info %>
						</div>
				<% } %>
			
				<% if ( messages.error) { %>
						<div class="alert alert-danger no-border">
							<span class="text-semibold"><%= messages.error %>
						</div>
			
				<% } %>
				<% if ( messages.success) { %>
					<div class="alert alert-success no-border">
						<span class="text-semibold"><%= messages.success %>
					</div>
			
			<% } %>
				<form action="/contact"  method="post">
					<div class="form-group col-md-6">
      					<label for="inputName">First Name</label>
     					<input type="text" class="form-control" id="inputName" placeholder="First Name" name="first_name" value="">
    				</div>
   					<div class="form-group col-md-6">
    					<label for="inputlastname">Last Name</label>
      					<input type="text" class="form-control" id="inputlastname" placeholder="Last Name" name="last_name" value="">
   					</div>
   					<div class="form-group col-md-6">
      					<label for="inputtitle">Job Title</label>
     					<input type="text" class="form-control" id="inputtitle" placeholder="Job Title" name="job" value="">
    				</div>
   					<div class="form-group col-md-6">
    					<label for="inputCompany">Company</label>
      					<input type="text" class="form-control" id="inputCompany" placeholder="Company" name="company" value="">
   					</div>
   					<div class="form-group col-md-6">
      					<label for="inputEmail">Email</label>
     					<input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" value="">
    				</div>
   					<div class="form-group col-md-6">
    					<label for="inputMobile">Mobile</label>
      					<input type="text" class="form-control" id="inputMobile" placeholder="Mobile" name="mobile" value="">
   					</div>
   					<div class="form-group col-md-6">
    					<label for="inputcity">City</label>
      					<input type="text" class="form-control" id="inputcity" placeholder="City" name="city" value="">
   					</div>
   					<div class="form-group col-md-6">
    					<label for="inputCountry">Country</label>
      					<select class="form-control" id="exampleFormControlSelect1" name="country">
      					<option>Plase Select</option>
     					 <option>India</option>
     					 <option>Dubai</option>
     					 <option>China</option>
     					 <option>Australia</option>
      					 <option>Asia</option>
   						</select>
   					</div>
   					<div class="form-group col-md-12">
    					<label for="inputCountry">Industry</label>
      					<select class="form-control" id="exampleFormControlSelect1" name="industry">
      					 <option>Plase Select</option>	
     					 <option>Accounting</option>
     					 <option>Web Designer</option>
     					 <option>Fashion</option>
     					 <option>Devlopment</option>
      					 <option>E-commerce</option>
   						</select>
   					</div>
   					
   					<div class="col-lg-6 col-md-6 pt-4">
   						<label id="" class="" placeholder=""><span>Select your line of business/profession</span></label>
   						<label class="pt-3"><input type="checkbox" name="business_profession" value="Industry expert"><span class="for-text"> Industry expert</span></label><br>
   						<label><input type="checkbox" name="business_profession" value="Blockchain startup"> <span class="for-text">Blockchain startup</span></label><br>
   						<label><input type="checkbox" name="business_profession" value="nvestor"> <span class="for-text">Investor</span></label><br>
   						<label><input type="checkbox" name="business_profession" value="Others"> <span class="for-text">Others</span></label>
   						
   					</div>
   					<div class="col-lg-6 col-md-6 pt-5">
   						<br>
   						<label><input type="checkbox" name="business_profession" value="Blockchain solution provider"> <span class="for-text">Blockchain solution provider</span></label><br>
   						<label><input type="checkbox" name="business_profession" value="Corporate professiona"> <span class="for-text">Corporate professiona</span></label><br>
   						<label><input type="checkbox" name="business_profession" value="Government authority"><span class="for-text"> Government authority</span></label>
   					</div>
   					<div class="col-md-12 col-lg-12 pt-4">
   						<div class="col-lg-6 col-md-6 pl-0">
   						<label id="" class="" placeholder=""><span>I am interested in</span></label><br>
   						<label class="pt-3"><input type="checkbox" name="interested" value="Booking Exhibition Space"><span class="for-text"> Booking Exhibition Space</span></label><br>
   						<label><input type="checkbox" name="interested" value="Delegate pass"> <span class="for-text">Delegate pass</span></label><br>
   						<label><input type="checkbox" name="interested" value="Speaking Opportunities"> <span class="for-text">Speaking Opportunities</span></label><br>
   						<label><input type="checkbox" name="interested" value="Raising Capital"> <span class="for-text">Raising Capital</span></label><br>
   						<label><input type="checkbox" name="interested" value="Corporate professional"> <span class="for-text">Corporate professional</span></label>
   						
   					</div>
   					<div class="col-lg-6 col-md-6 pl-0 pt-4">
   						<br>
   						
   						<label><input type="checkbox" name="interested" value="Sponsoring the summit"><span class="for-text"> Sponsoring the summit</span></label><br>
   						<label><input type="checkbox" name="interested" value="Investor"><span class="for-text">Investor</span></label><br>
   						<label><input type="checkbox" name="interested" value="Project Launch"><span class="for-text"> Project Launch</span></label><br>
   						<label><input type="checkbox" name="interested" value="Startup Grand Slam / Pitch Competition"> <span class="for-text">Startup Grand Slam / Pitch Competition</span></label><br>
   						<label><input type="checkbox" name="interested" value=" Media Partnership"><span class="for-text"> Media Partnership</span></label>
   						
   					</div>
   					</div>
   					<div class="form-group col-md-12 pt-5">
    					<label for="inputCountry">Where did you hear about us?*</label>
      					<select class="form-control" id="exampleFormControlSelect1" name="hear">
      					 <option>Plase Select</option>		
     					 <option>Email</option>
     					 <option>Facebook</option>
     					 <option>Google</option>
     					 <option>Instagram</option>
      					 <option>Linkedin</option>
   						</select>
   					</div>
   					
   				
   					<div class="form-button">
						<button class="read-button">Submit</button>
					</div>
				</form>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="logo-contact">
					<img src="images/logo.png" alt="logo">
				</div>
				<div class="address">
					<label><span>Address : </span><span class="add">Fujairah - Creative Tower ,<br>P.O Box - 4422<br>Fujairah ( UAE )</span></label>
					<label><span>WhatsApp / Telegram / PH No. : </span><span class="add">+91-8700544717 </span></label>
					<label><span>EMAIL : </span><span class="add">Contact@beingevent.com</span></label>
				</div>
				<div class="subscribe" id="subscribe">
					<h1>Subscribe</h1>
					<p>" for latest information client free news letter "</p>
			
					<div class="input-boxs">
							<% if ( messages.info) { %>
								<div class="alert alert-primary no-border">
									<span class="text-semibold"><%= messages.info %>
								</div>
						<% } %>
					
						<% if ( messages.error) { %>
								<div class="alert alert-danger no-border">
									<span class="text-semibold"><%= messages.error %>
								</div>
					
						<% } %>
						<% if ( messages.success) { %>
							<div class="alert alert-success no-border">
								<span class="text-semibold"><%= messages.success %>
							</div>
					
					<% } %>
							<form id="myform" method="post" action="/subscribe">
					<input type="text" name="email" value="" class="input-box" placeholder="Subscribe" required/>
					<a onclick="document.getElementById('myform').submit();"><i class="fa fa-search" style="color: white;"></i></a>
				</form>
				</div>
			</div>
			</div>
		</div>
		<p id="yy" style="display:none"><%= JSON.stringify(events) %></p>
	</div>
</section>
<script>
	window.onload = function() {
var eventstext = document.getElementById("yy").innerText ;
var events = JSON.parse(eventstext);
// console.log("eventssssss..",eventstext);
console.log("json pars",JSON.parse(eventstext))
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
	total: t,
	days: days,
	hours: hours,
	minutes: minutes,
	seconds: seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector(".days");
  var hoursSpan = clock.querySelector(".hours");
  var minutesSpan = clock.querySelector(".minutes");
  var secondsSpan = clock.querySelector(".seconds");

  function updateClock() {
	var t = getTimeRemaining(endtime);

	daysSpan.innerHTML = t.days;
	hoursSpan.innerHTML = ("0" + t.hours).slice(-2);
	minutesSpan.innerHTML = ("0" + t.minutes).slice(-2);
	secondsSpan.innerHTML = ("0" + t.seconds).slice(-2);

	if (t.total <= 0) {
	  clearInterval(timeinterval);
	}
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

for(let i=0;i< events.length;i++ ) {
  console.log("i",i);
 
  // if(i !== 2){
	let id= "clockdiv"+i;
  let deadline = new Date(events[i].eventStartDate);
  console.log('data is here',events[i].eventStartDate)
  initializeClock(id, deadline)
  console.log("id",id,deadline);
// }
}


  }

</script>
<% include footer %>
  

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
</body>
</html>