<!DOCTYPE html>
<html>
<head>
	<title>how to join bitcoin event,crypto events, blockchain events</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147461007-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147461007-1');
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta itemprop="name" content="beingevent"/>
	<meta itemprop="description" content="we do support to people how to join bitcoin event, crypto events, blockchain events in all over world">
 	<meta property="og:url" content="http://www.beingevent.com/">
 	<meta property="og:site_name" content="beingevent">
 	<meta property="og:title" content="how to join bitcoin event,crypto events, blockchain events">
 	<meta property="og:author" content="beingevent">
 	<link rel="stylesheet"href="http://www.beingevent.com/" />
 	<meta property="og:locale"content="en_IN" />
 	<meta property="og:image" content="http://www.beingevent.com/image/logo.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="we are a cryptocurrency and ICO marketing company .we do marketing for how to join bitcoin event, crypto events, blockchain events in all over world "/>
	<meta property="og:type" content="we do cryptocurrency and ICO marketing events in world.we support crypto community for we are a cryptocurrency and ICO marketing company .we do marketing for how to join bitcoin event, crypto events, blockchain events in all over world"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300|Roboto&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/owl-1.css">
	<link rel="stylesheet" href="css/owl-2.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/boot.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150412361-1"></script>

</head>
<body>
  <% include head %>
<section class="marquee">
	<div  style="width: 100%!important;">
		<div class="row" style="margin:0px!important;">
			<marquee class="marquee" direction="right" scrollamount="5">
		
				<div class="marq-in-div">Bitcoin<span>$ <%=finalbtc%></span></div>
				<div class="marq-in-div">Ethereum<span>$ <%=eth%></span></div>
				<div class="marq-in-div">XRP<span>$ <%=xrp%></span></div>
				<div class="marq-in-div">Litecoin<span>$ <%=ltc%></span></div>
				<div class="marq-in-div">Bitcoin Cash<span>$ <%=btcc%></span></div>
				<div class="marq-in-div"> EOS<span>$  <%=eos%></span></div>
				<div class="marq-in-div">Binance Coin<span>$ <%=bnb%></span></div>
				<div class="marq-in-div">Bitcoin SV<span>$  <%=btcs%></span></div>
				<div class="marq-in-div">Stellar<span>$  <%=slr%></span></div>
				<div class="marq-in-div">TRON<span>$  <%=tn%></span></div>


		
	</marquee>
		</div>
	</div>
	
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="event-heading">
				<h1>About Us</h1>
				<p>how to join bitcoin event,crypto events, blockchain events</p>
			</div>
		<div class="col-lg-12 col-md-12">
			<div class="about-me">
				
				<p>Beingevent is Dubai based event management and IT services based company.we are registers in Dubai in Fujairah special economy zone. our registration on name of Eventica IT Services. we are working in cryptocurrency and ICO launch event business from January 2016.we did ICO and coin launch events all over Asia between 2016 to 2019. we did blockchain summit in Dubai,we did crypto exhibition in Hongkong,fintech festival in ukraine, we did many coin launch and marketing events in Singapore, Indonesia, Malaysia, Thailand, Vietnam, South Korea, Japan, India etc.after having the experience for more than three years in ico launch and coin marketing then finally we started our own crypto event company. after launched our event company we find that people facing some problems in understanding crypto and attending the events due to the below reason</p>
				<div class="point">
				<p class="para-cont"><span>(1) </span>all crypto coin launch and promotion events are very expensive all over the world specially in America and Europe .only the guys who earned in crypto business can fly and attend these events. new person who wants to know about ICO and cryptocurrency they cant attend these events. we want to conduct these events in new developing countries in Asia like India, Bangladesh, indonesia where billions of people living and everyone have a smartphone. they need cryptocurrency and ICO information for change in their life. we are the best and having a great experience doing crypto launch events in all countries.</p>
				<p class="para-cont"><span> (2)</span>lots of people got scam in ICO business in previous time as these ICO marketing team spend so much money digital marketing on facebook,google,youtube,telegram.no one know who are the owner ane team behind the project as they are running their ico only in online media. we will invite the whole team of that ICO in our event to introduce the project to our community and provide all proper information to them. </p>
				<p class="para-cont"><span>(3)</span>sometime ICO spends big money on this kind of blockchain summit for attracting the investors. but organizer some time invite people who are not a correct person for ICO. some time organizer invite thousand of college student to show the footfall in blockchain events but with this kind of footfall ICO didn't raise funds according to there expectations. we have a community of over 1000000 people all over the world that are connected with us for a long time. so we invite the right people in our events. this targeted audience will give better results to ICO marketing team.</p>
				<p class="para-cont"><span>(4)</span>in this cryptocurrency business event, the organizer charges too much money from ICO project owners for the promotion. sometimes they want 10 bitcoins to 100 bitcoins for the ICO promotions on stage. with support of our experience and a great team we can do more better event for ICO promotions with less 50% to 70% budget.</p>
				<p class="para-cont"><span>(5)</span>ICO can participate in our virtual blockchain summit and ico launch events too.cryptocurrencies are online. we believe an online virtual event will support and connect more people to the cryptocurrency industry in the future. so many people still don't have money to come to the event so we will reach them with online virtual events. its same as a real event but people will connect in our event from their countries by login into our virtual event. it will be free for all investors and there will be very small expenses for ICO marketing team compared to a physical event. these events will give a big boost to ICO promotions as we have over 1000000 people community from all over the world and all can join this virtual event from their countries.</p>
				</div>
			</div>
		</div>
		
		</div>
	</div>
</section>
<section class="our-about">
	<div class="container">
		<div class="row pb-3">
			<div class="col-lg-6 col-md-6 pb-5">
				<div class="col-lg-6 col-md-6">

					<img src="images/M-1.png" alt="about">
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="con-abu-us">
						<h2>beingevent mission</h2>
						
					</div>
				</div>
				<p>our mission is to create a community where the right person will get the right product and services. New ICO, Altcoins, startups,fintech project will get new users, investors, community and our community user and exhibitors will get right and legal projects. we are feeling happy to serve in these services and become a bridge between both.</p>
			</div>
			<div class="col-lg-6 col-md-6 pb-5">
				<div class="col-lg-6 col-md-6">

					<img src="images/m-2.png" alt="about">
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="con-abu-us">
						<h2>beingevent vision</h2>
						
					</div>
				</div>
				<p>our vision is to develop the biggest online cryptocurrency event community and a crypto base decentralized event management ecosystem platform. this platform and virtual cryptocurrency community can offer drastic reductions in cost and improved efficiencies of the event business. here event professionals also work efficiently and effortlessly. We love events and new technologies and every day we think about new functionalities, we refine usability and we improve security in order to deliver the best platform to our community we are a team of more than 20 people who are best in event management.</p>
			</div>
		</div>
	</div>
</section>
<% include footer %>

 		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
</body>
</html>