<footer id="footer" class="footer ">
		<div class="container">
		  <div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="copyright-info">
				<span>Copyright © 2018 Eventica. All Rights Reserved.</span>
			  </div>
			  <!-- Copyright info end -->
			</div>
			<!-- Content col end -->
			<div class="col-md-6 col-sm-12 col-xs-12">
			  <!-- Footer menu end -->
			  <div class="footer-social text-center">
				<ul>
						<li>
								<a href="https://chat.whatsapp.com/By64Sd9ot9s4Z2KfP2VIrT" target="_blank"><i class="fa fa-whatsapp"></i></a>
							  </li>
				  <li>
					<a href="https://www.facebook.com/eventicacoin/" target="_blank"><i class="fa fa-facebook"></i></a>
				  </li>
				  <li>
					<a href="https://twitter.com/beingevent" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
				  </li>
				  <li>
					<a href="https://www.youtube.com/results?search_query=eventica+beingevent" target="_blank"><i class="fa fa-youtube" target="_blank"></i></a>
				  </li>
			  
				  <li>
					<a href="https://www.instagram.com/being_event/" target="_blank"><i class="fa fa-instagram"></i></a>
				  </li>
				  <li>
					<a href="https://t.me/beingevent" target="_blank"><i class="fa fa-paper-plane"></i></a>
				  </li>
				</ul>
			  </div>

			  <!-- Footer social end -->
			</div>
			
			<div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="copyright-infos" style="display: none;">
				<span>Copyright © 2018 Eventica. All Rights Reserved.</span>
			  </div>
			  <!-- Copyright info end -->
			</div>
	
		  </div>
		  <!-- Content row end -->
		</div>
		<!-- Container end -->
		
	   
		<div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" style="display: block;">
		  
			 <button class="btn btn-primary" onclick="scrolltop()"> <a href="#" style="color:#ffffff;" class="cd-top text-replace js-cd-top"><i class="fa fa-angle-up"></i></a></button>
		
		  
		 </div>
	  </footer>