
   <li id="accrdn_1" class="professional">
                           <div class="borderTop"></div>                        <div class="div-content">
                              <div class="cont_main">
                                  <div class="eventCatName" style="width: 40%;
                                  float: left;">
                                                                         <div class="col-md-6">
                  <input type="hidden" name="eventid" value="<%=details.id%>"/>
                <%if(details.eventinfo.offerOneCurrency){%>
          
                <input type="radio" name="price" value=" <%=oneinr%>" class="checkboxclass" checked/>Early Bird Price <%}%>
                <%if(details.eventinfo.offerTwoCurrency){%>

                <input type="radio" name="price" value=" <%=twoinr%>" class="checkboxclass"/>Regular Price  <br />
                  <%}%>
                
                <br />



              </div>
                                                                             
                                      
                                  
                                  </div>
                                  <!--Ticketname Section End-->
                                   <div class="eventCatValue" style="    width: 30%;
                                   float: left;     padding-left: 25px;"> <span>
                                      INR                                     5000 </span> 
                                  </div>
                                  <!---->
                                  <div class="eventCatSelect"  style="width: 30%;
                                  float: left;  padding-left: 87px;">
                                                                                                                                                              <select class="form-control ticket_selector selectNo paid" id="301591">
                                                  <option value="0">0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>                                            </select>
                                                                                                          </div>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                           <div class="borderBottom"></div>                    </li>
                    